:root {
    --white: #ffffff;
    --text: #000000;
    --button: #cfcff9;
    /*--body: #fcf7f5;*/
    }
  

* {
    margin: 0;
    box-sizing: border-box;
    backface-visibility: hidden;
  }
  

header {
    background: var(--white);
}


#header-img{
    margin: auto;
    margin-top: -30px;
    width: 400px;
    aspect-ratio: contain;
    align-items: center;
    cursor: pointer;
}


.logo-container {
    display: flex;
    align-items: center;
}
  

#nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space around;
    align-items: center;
    width: 100%;
    background-color: var(--white);
    font-family: syne;
    font-size: 16px;
    margin-top: -15px;
    padding-right: 10px;
    cursor: pointer;
}
  

.nav-links {
    display: flex;
    list-style: none;
}
  

.nav-links a {
    text-decoration: none;
    color: var(--black);
    padding-bottom: 5px;
}

#best-sellers {
    display: flex;
    text-align: center;
    font-size: 40px;
    font-family: syne;
    margin-top: 105px;
    padding-left: 747px;
    padding-bottom: 10px;
}

.box-container {
    display: flex;
    max-width: 100px;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.product-img {
    display: flex;
    max-width: 100px;
    flex-direction: row;
    align-items: center;
    padding-left: 160px;
    cursor: pointer;
}

.dew-title, .trio-title, .super-title {
    padding-top: 14px;
    font-family: avenir next;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}

.dew-price, .trio-price, .super-price {
    margin-top: -15px;
    font-family: avenir next;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

#video {
    padding-top: 20px;
    margin-left: 257px;
}

h1 {
    padding-bottom: 25px;
    max-width: 600px;
}

section {
    font-family: syne;
    font-size: 12px;
    padding-top: 25px;
    padding-left: 100px;
    padding-bottom: 100px;
}

.email-container {
    margin-left: 167px;
}

input {
    border-radius: 5px;
    border-color: var(--button);
    width: 300px;
    padding: 10px;
}

#email {
    font-family: avenir, next;
    color: var(--black);
    padding: 11px;
    padding-left: 10px;
}

#submit {
    border-radius: 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: var(--button);
    border-color: none;
    width: 100px;
    font-family: "avenir";
    font-weight: 600;
    cursor: pointer;
}

@media only screen and (400px < width < 600px) {
    #best-sellers {
        margin-left: -600px;
    }
    
    .product-img {
        flex-direction: column;
    }

    .dew-price, .trio-price, .super-price {
        padding-bottom: 35px;
    }

    #video {
        flex-direction: column;
        max-height: 250px;
        max-width: 400px;
        margin-left: -45px;
    }

    #deals {
        align-items: center;
        margin-left: -65px;
    }
}