body {
  background: linear-gradient(#82caff 20%, #bfe2ff 80%);
  height: 100%;
  width: 100%;
  margin-left: 560px;
  margin-top: 225px;
}

h1 {
  font-family: "Lily Script One", system-ui;
  font-size: 90px;
  color: #ff8c00;
  margin-top: -150px;
  margin-left: 45px;
  padding-bottom: 30px;
  
}

h3 {
font-family: Arial, Helvetica, sans-serif;
font-weight: 100;
font-size: 19px;
margin-top: -105px;
margin-left: 220px;
padding-bottom: 75px;
color: white;
}

.wheel {
    border: 10px solid #4292c6;
    border-radius: 50%;
    margin-left: 40px;
    position: absolute;
    height: 75vw;
    width: 75vw;
    max-width: 500px;
    max-height: 500px;
    animation-name: wheel;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  .line {
    background-color: #4292c6;
    width: 50%;
    height: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0% 0%;
  }
  
  .line:nth-of-type(2) {
    transform: rotate(60deg);
  }
  .line:nth-of-type(3) {
    transform: rotate(120deg);
  }
  .line:nth-of-type(4) {
    transform: rotate(180deg);
  }
  .line:nth-of-type(5) {
    transform: rotate(240deg);
  }
  .line:nth-of-type(6) {
    transform: rotate(300deg);
  }
  
  .cabin {
    background-color: #ec5578;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 15%;
    height: 12%;
    position: absolute;
    transform-origin: 50% 0%;
    animation: cabins 10s ease-in-out infinite;
  }
  
  .cabin:nth-of-type(1) {
    right: -8.5%;
    top: 50%;
  }
  .cabin:nth-of-type(2) {
    right: 17%;
    top: 93.5%;
  }
  .cabin:nth-of-type(3) {
    right: 67%;
    top: 93.5%;
  }
  .cabin:nth-of-type(4) {
    left: -8.5%;
    top: 50%;
  }
  .cabin:nth-of-type(5) {
    left: 17%;
    top: 7%;
  }
  .cabin:nth-of-type(6) {
    right: 17%;
    top: 7%;
  }
  
  @keyframes wheel {
     0% {
       transform: rotate(0deg);
     }
     100% {
       transform: rotate(360deg);
     }
  }
  
  @keyframes cabins {
    0% {
      transform: rotate(0deg);
    }
    25% {
      background-color: #fcd12a;
    }
    50% {
      background-color: purple;
    }
    75% {
      background-color: #fcd12a;
    }
    100% {
      transform: rotate(-360deg);
    }
  }